@keyframes progress {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 60px 0;
  }
}

@keyframes working {
  0% {
    top: 2px;
    height: 24px;
  }

  50%, 100% {
    top: 2px;
    height: 12px;
  }
}

@keyframes gnarshake {
  0%, 100% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-7deg);
  }

  75% {
    transform: rotate(5deg);
  }
}
